body{
	background-color: white;
	padding: 0;
	margin: auto;
	/*background-color: rgba(0,0,0,0.6) !important;*/
}

.bodyy{

}

.remove-bullets{
	list-style-type: none;
	padding: 10px;
	padding-right: 20px; 
	display: inline;
}

.nav-manual{
	background-image: linear-gradient(to right,  #0091EA,  #0091EA);
}

nav a{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

li a{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

a:hover{
	color: #5c8fd6;
	text-decoration: none;
}


/*  Splash Screen CSS */
.splash{
	position: fixed;
	padding:260px 250px 250px 250px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/*background-color: #c3e3dd;*/
	background-image: linear-gradient(to right,  #0091EA,  #0091EA);
	z-index: 200;
	color: white;
	text-align: center;
	line-height: 90vh;
	justify-content: center;
}

.splash.display-none{
	
	visibility: hidden;
}

@keyframes fadeIn{
	to{
		opacity: 1;
	}
}

.fade-in{
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
}

/*Splash End*/


/*Body*/
.shadow{
	  border-radius: 15px 15px 15px 15px !important; 
	  margin-top: 20px !important;
	  box-shadow: 4px 4px 6px 4px #888888 !important;
}

.section1{
	border: 0 !important;
	/*margin-top: 15px;*/
/*	background-image: linear-gradient(to right,  #0091EA,  #0091EA);
*/	background-color: #0091EA;
	color: white;
	border-radius: 15px 0px 0px 15px !important;
}


.section2{
	/*margin-top: 15px;*/
	background-color: #fefefe;
	padding-top: 178px;
	border-radius: 0px 15px 15px 0px !important;
}

.section1Text{
	padding-top: 180px;
	padding-bottom: 200px;
	text-align: center;
	font-weight: bold;
}

/*for p tag in div section 1*/
div p{
	font-weight: normal !important;
}

.button{
	color: #0091EA !important;
	font-weight: 500 !important;
	border: 2px solid white !important;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	box-shadow: 2px 2px 18px #888888;
	background-color: white !important;
}

.button:hover{
	border: 2px solid white !important;
	color: white !important;
	background-color: #0091EA !important;	  
}

.button1{
	margin-top: 14px;
	color: white !important;
	background-color: #0091EA !important;
	font-weight: 500 !important;
	border: 0px solid white !important;
	border-radius: 5px !important;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	box-shadow: 2px 2px 18px #888888;
	border: 2px solid #0091EA !important;
}

.button1:hover{
	background-color: #fefefe!important;
	border: 2px solid #0091EA !important;
	color: #0091EA !important;	  
}

.inputForm{
	border: 0px solid #343a40;
}

form input{
	display: block;
	border:0 !important;
	background-color: #eeeeee;
	border-radius: 5px;
}

.input1{
	padding-top: 5px !important;
	padding-left: 15px !important;
	padding-right: 100px !important;
	padding-bottom: 10px !important;
	margin-bottom: -12px;
	margin-left: -30px !important;
}

.input2{
	padding-top: 5px !important;
	padding-left: 15px !important;
	padding-right: 100px !important;
	padding-bottom: 10px !important;
	margin-left: -30px !important;
}

div form{
	padding-left: 165px;
}

.sectionh1{
	text-align: center;
	justify-content: center;
}

.a4{
	color: blue !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	margin-top: 12px !important;
}

.a4:hover{
	text-decoration-line: underline !important;
}

.popup{
	border-radius: 15px;
	background-color: rgba(0,0,0,0.6);
	width: 300px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	display: none;
}

.popup-content{
margin-top: 55px !important;
margin-left: 70px;
	padding-right:10px;
}

.display1{
	display: block;
}

.btn-1{
	border:0 !important;
}

.popup-btn1{
	padding-left: 30%;
	padding-top: 35px;
	/*background-image: linear-gradient(to right,  #0091EA,  #0091EA);*/
}

.popup-btn2{
	padding-left: 30%;
}

.cross{
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;
	color: white !important;
}



/*POPUP2 CSS USER*/
.popup2{
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
	margin-top: 25px;
	display: none;
}

.row-popup2{
	width: 700px;
	border-radius: 12px;
	display: block;
	background-color: rgba(0,0,0,0.7); 
	padding-top: 80px;
	padding-bottom: 80px;
}


.row-popup2 form input{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.display1{
	display: block;
}

.cross2{
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;
	color: white !important;
}

.popup2 form input{
	border: 0;
	border-bottom: 1px solid grey !important;
}
/*POPUP2 CSS ENDS USER*/


/*POPUP3 CSS COMPANY*/
.popup3{
	border-radius: 15px;
	width: 800px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
	margin-top: -35px;
	display: none;
}

.row-popup3{
	border-radius: 12px;
	display: block;
	background-color: rgba(0,0,0,0.7); 
	padding-top: 150px;
	padding-bottom: 150px;
}


.row-popup3 form input{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.display2{
	display: block;
}

.cross3{
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;
	color: white !important;
}

.popup3 form input{
	border: 0;
	border-bottom: 1px solid grey !important;
}

/*POPUP3 CSS ENDS*/