.remove-bullets{
	list-style-type: none;
	padding: 10px;
	padding-right: 20px; 
	display: inline;
}

.nav-manual{
	background-image: linear-gradient(to right,  #0091EA,  #0091EA);
}

nav a{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

li a{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

a:hover{
	color: #5c8fd6;
	text-decoration: none;
}

.search div h2{
	color: white;
}

.search{
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	background-color: #0054a0;
	height: 500px;
}

.uppercase{
	text-transform: uppercase;
	font-size: 14px;
}
 
 .button-homepage{
 	margin-top: 10px;
 	margin-bottom: 10px;
 	margin-right: 10px;
 	width: 120px;
 	height:40px;
 	border-radius: 20px;
 	background-color: transparent;
 	color: white;
 	border:none;
 }

 .button-homepage:hover{
 	background-color: #f6ac31;
 }

 .search-button{
 	font-weight: bold;
 	font-size: 18px;
 	background-color: #f6ac31;
 }

 div form input{
 	margin-bottom: 5px;
 	margin-top: 5px;
 	margin-right: -4px;
 	padding-right: 20px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-left: 20px;
 }

.button-homepage:focus{
	outline: none;
	background-color: #f6ac31;
}

