body{
	background-color: white;
	padding: 0;
	margin: auto;
}

.remove-bullets{
	list-style-type: none;
	padding: 10px;
	padding-right: 20px; 
	display: inline;
}

.nav-manual{
	background-image: linear-gradient(to right, #ff4a2b, #fe454b);
}

.gujjar-a{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.header-right-a{
	color: white !important;
	font-weight: bold;
	font-size: 14px;
	text-decoration-line: none;
}

.header-right-a:hover{
	text-decoration-line: none !important;
	color: #5c8fd6 !important;
	text-decoration: none;
}


/*END OF HEADER*/


.div-margin{
	margin-top: 20px !important;
	box-shadow: 4px 4px 6px 4px #888888 !important;
	border-radius: 15px 15px 15px 15px !important;
}

.section1{
	/*border:2px solid black !important;*/
	height: 550px; 
	border-radius: 15px 0px 0px 15px !important;
	background-color: #fefefe !important;
	padding-top: 180px;
}

.section1-text{
	text-align: center !important;
	
}

.button1{
	margin-top: 14px !important;
	color: white !important;
	background-color: #ff4a2b !important;
	font-weight: 500 !important;
	border: 0px solid white !important;
	border-radius: 5px !important;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	box-shadow: 2px 2px 10px #343a40;
}

.button1:hover{
	background-color: #fefefe!important;
	border: 0px solid #ff4a2b!important;
	color: #ff4a2b !important;	  
}

.section2{
	/*border:2px solid black !important;*/
	height: 550px;
	border-radius: 0px 15px 15px 0px !important;
	background-image: linear-gradient(to right, #fe454b, #ff4a2b);
}

.section2-text{
	text-align: center !important;
	padding-top: 178px;
	color: white !important;
}

.button2{
	color: white !important;
	font-weight: 500 !important;
	border: 2px solid white !important;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	box-shadow: 2px 2px 10px #343a40;
}

.button2:hover{
	border: 2px solid #343a40 !important;
	color: #ff4a2b !important;
	background-color: #fefefe!important;	  
}

.input1{
	padding-top: 5px !important;
	padding-left: 15px !important;
	padding-right: 100px !important;
	padding-bottom: 10px !important;
	margin-bottom: 12px;
	border-left: 0;
	border-top: 0;
	background-color: #eeeeee;
}

.input2{
	padding-top: 5px !important;
	padding-left: 15px !important;
	padding-right: 100px !important;
	padding-bottom: 10px !important;
	border-left: 0;
	border-top: 0;
	background-color: #eeeeee;
}

.a4{
	color: blue !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	margin-top: 12px !important;
	display: block;
}

.a4:hover{
	text-decoration-line: underline !important;
}


/*/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}*/

.container1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	width: 300px;
	height: 200px;
}

.container1 .btn1{
	text-align: center !important;
	margin: 5px;
	display: none !important;
}